/* homepage.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #f2efef;
  }
  
  header {
    background-color: #ef2d47;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .card {
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  button {
    padding: 10px 20px;
    background-color: #53c34b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #1baa2e;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 90%;
    }
  }
  